---
import {getSections} from '../../get-page-links'

const {currentPage} = Astro.props;
const allPages = Astro.fetchContent('../../data/**/*.md');
const sections = getSections({currentPage, allPages})

---

<nav aria-labelledby="grid-left">
  <ul class="nav-groups"> 
    {sections.map(section => (
      <li class='nav-link section-header'>
        <a 
          href={section.root.href} 
          aria-current={`${currentPage === section.root.href ? 'page' : 'false'}`} 
        >
          {section.root.title}
        </a>
        {
          section.children && 
            <ul>
              {section.children.map(child => (
                <li class="nav-link">
                  <a href={child.href} aria-current={`${currentPage.replace(/\/$/, '') === child.href ? 'page' : 'false'}`}>
                    {child.title}
                  </a>
                </li>
              ))}
            </ul>
        }
      </li>
    ))}
  </ul>
</nav>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && (target.offsetTop > (window.innerHeight - 100))) {
      document.querySelector('.nav-groups').scrollTop = target.offsetTop;
    }
  });
</script>

<style lang="scss">
  @use "../../styles/theme.scss";

  nav {
    width: 100%;
    margin-right: 1rem;
  }
  .nav-groups {
    height: 100%;
    padding: 2rem 0;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 100vh;
  }

  .nav-groups > :last-child {
    padding-bottom: 2rem;
    margin-bottom: var(--theme-navbar-height);
  }

  .nav-link a {
    font-size: 14px;
    margin: 1px;
    padding: 0.3rem 1rem;
    color: inherit;
    display: block;
  }

  .section-header > a {
    font-size: 16px;
    color: theme.$gray-200;
  }

  .nav-link a[aria-current="page"],
  .section-header a[aria-current="page"] {
    color: var(--theme-accent-text);
  }

  .nav-link a:hover,
  .nav-link a:focus {
    color: white;
  }

  

  @media (min-width: 992px) {
    .nav-groups {
      padding: 0;
    }
  }

</style>
