---
import * as ref from "../data/config-reference.md";
import { DEFAULT_LOCALE } from "../languages";
import ConfigOption from "./ConfigOption.astro";

const options = ref.frontmatter;

const { locale } = Astro.props;

// Default locale options, for use as fallback if localization is not available
const fallbackOptions = options[DEFAULT_LOCALE].options;
// config options for locale
const configOptions = options[locale] ? options[locale].options : fallbackOptions;
---

{configOptions.map((option, optionIndex) => {
  const fallbackOption = fallbackOptions[optionIndex]

  return (
    <div>
      <ConfigOption
        isRequired={option.required}
        description={option.description ?? fallbackOption.description}
        example={option.example ?? fallbackOption.example}
      >
        <h2 id={option.name}>
          {option.name}
          <a
            aria-hidden="true"
            tabindex="-1"
            class="heading-link no-underline"
            href={`#${option.name}`}
          >
            <span class="fas fa-link" />
          </a>
        </h2>
      </ConfigOption>
      {option.suboptions &&
        option.suboptions.map((suboption, subIndex) => {
          const fallbackSuboption = fallbackOption.suboptions[subIndex]

          return (
            <ConfigOption
              isRequired={suboption.required}
              description={suboption.description ?? fallbackSuboption.description}
              example={suboption.example ?? fallbackSuboption.example}
            >
              <h3 id={`${option.name}-${suboption.name}`.replace(new RegExp(", ", "g"), "-")}>
                {option.name}.{suboption.name}
                <a
                  aria-hidden="true"
                  tabindex="-1"
                  class="heading-link no-underline"
                  href={`#${option.name}-${suboption.name}`.replace(new RegExp(", ", "g"), "-")}
                >
                  <span class="fas fa-link" />
                </a>
              </h3>
            </ConfigOption>
          )
        })}
    </div>
  )
})}
