---
import {getPageLinks} from '../get-page-links'
const allPages = Astro.fetchContent('../data/**/*.md');
const currentPage = Astro.request.url.pathname;
const sections = getPageLinks({currentPage, allPages});

---

<style lang="scss">

  #docs-toggle {
    width: 100%;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    & li ul {
      margin-left: 16px;
    }
  }

  li:not(:last-child) {
    margin-bottom: 8px;
  }

  .docs-page-link {
    font-family: var(--font-headings);
    color: var(--theme-text-dim);
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.25rem;

    &.is-active {
      color: var(--theme-text);
    }
    &:hover {
      color: var(--theme-text-dimmer);
    }
  }

</style>

<script type="module" hoist>
  import {Toggler} from '/src/scripts/toggler.js';

  function addToggler() {
    new Toggler('#docs-toggle');
  }

  window.addEventListener('load', addToggler);
</script>

<div class="mb-32">
  <button 
    id="docs-toggle" 
    class="btn btn-secondary btn-medium"
    type="button"
    aria-controls="docs-nav" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  >
    <span>Menu</span>
  </button>
  <nav class="collapse mt-16" id='docs-nav'>
    <ul>
      {sections.map(section => (
      <li>
        <a 
          class='docs-page-link'
          href={section.root.href} 
          aria-current={`${currentPage === section.root.href ? 'page' : 'false'}`} 
        >
          {section.root.title}
        </a>
        {
          section.children && 
            <ul>
              {section.children.map(child => (
                <li>
                  <a class='docs-page-link' href={child.href} aria-current={`${currentPage.replace(/\/$/, '') === child.href ? 'page' : 'false'}`}>
                    {child.title}
                  </a>
                </li>
              ))}
            </ul>
        }
      </li>
    ))}
    </ul>
  </nav>
</div>
