---
import HeadCommon from "../components/HeadCommon.astro";
import Header from "../components/Header/Header.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import MobileNav from "../components/MobileNav.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import * as CONFIG from "../config";

const { content, headers } = Astro.props;
---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
  <head>
    <HeadCommon />
    <title>{content.title ? `${content.title} - ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>

    <style lang="scss">
      html {
        scroll-behavior: smooth;
      }

      body {
        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        --gutter: 0.5rem;
        --doc-padding: 5rem;
      }
      main {
        & :global(> *) {
          max-width: var(--max-width);
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }

        & :global(> :first-child) {
          grid-column: 1;
        }
      }

      #article {
        padding: 32px 0;
        height: 100%;
      }

      .layout :global(> *) {
        width: 100%;
        height: 100%;
      }
      .grid-sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 0;
      }
      #grid-left,
      #grid-right {
        height: calc(100vh - 200px);
        max-height: 100vh;
        position: sticky;
        top: 24px;
        display: none;
        flex-direction: column;
        // Account for focus rings
        padding: 8px;
        margin-left: -8px;
      }
      #grid-main {
        padding: var(--doc-padding) var(--gutter);
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      @media (min-width: 992px) {
        #article {
          padding: var(--doc-padding) 0;
          display: grid;
          gap: 2rem;
          grid-template-columns: 18rem minmax(0, 1fr);
        }
        #grid-left {
          display: flex;
        }
        .mobile-nav {
          display: none;
        }
      }

      @media (min-width: 1200px) {
        #article {
          grid-template-columns: 22rem minmax(0, 1fr);
        }
      }

      @media (min-width: 1300px) {
        #article {
          grid-template-columns: 18rem minmax(0, 1fr) 18rem;
        }
        #grid-right {
          grid-column: 3;
          display: flex;
        }
      }
    </style>
  </head>

  <body>
    <Header canonicalSlug={content.canonicalSlug} />
    <main>
      <div id="article">
        <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
          <LeftSidebar />
        </aside>
        <div class="mobile-nav">
          <MobileNav />
        </div>
        <PageContent id="grid-main" content={content}>
          <slot></slot>
        </PageContent>
        <div id="grid-right">
          <RightSidebar content={content} headers={headers} />
        </div>
      </div>
    </main>
  </body>
</html>
